/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
h1 {
    font-size: 60px;
    font-weight: 600;
    color: #192b59;
    text-transform: uppercase;
    line-height: 97.2px;
    max-width: 600px;
}
.nav {
    font-style: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
}
.title-h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 600;
    letter-spacing: -1.5px;
}
.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1085e4;
    letter-spacing: 3px;
    margin-bottom: 50px;
}
.nav > li {
    padding: 0 15px;
}
.nav-item {
    color: #6e7ea9; 
}
.page_header_head {
    margin-bottom: 50px;
}

.btn-primary {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 700;
    padding: 20px 60px;
    border: 1px solid #1085e4;
    border-radius: 30px;
}
.btn-primary:hover {
    background-color: #fff;
    color: #1085e4;
    font-weight: 900;
}
.btn-secondary {
    background-color: #cbdbe8;
    color: #7e8bae;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 700;
    padding: 20px 30px;
    border: 1px solid #7e8bae;
    border-radius: 30px;
}
.btn-secondary:hover {
    background-color: #fff;
    color: #7e8bae;
}
.btn_free {
    font-weight: 400;
    padding: 20px 50px;
}
.btn-group a + a {
    margin-left: 15px;
}
.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 700;
    padding: 20px 60px;
    border-radius: 30px;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid_item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}
.grid_item a {
    font-size: 16px;
    color: #1085e4;
    font-weight: 600;
}
.list-stat {
    display: flex;  
    justify-content: space-around;
    margin-top: 50px;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;    
    color: #1085e4;
    text-align: center;
    letter-spacing: 5px;
}
.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 20px; 
    letter-spacing: 0;
}
.screen {
    margin-top: 70px;
}
.box_price {
    display: flex;
    justify-content: space-between;
}
.box_price_item {
    background-color: #f5faff;
}
.box_price_item.active {
    background-color: #192b59;
    color: #fff;
}

/* Page */
.page_header {
    margin-bottom: 150px;
}
.page_stat .page-screen{
    background-color: #edf6ff;
}
.page_stat {
    padding: 116px 0 96px 0;
}
.page-screen {
    padding: 116px 0 0 0;
    text-align: center;
}
.page_stat .title-h2 .page-screen .title-h2{
    text-align: center;
    margin: 0 auto;
}
.page_stat .title-h2 {
    max-width: 500px;
}
.page-screen .title-h2 {
    font-size: 40px;
}
.page-screen .title-h2 span {
    font-size: 18px;
}
.page_plan {
    text-align: center;
}